In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('/home/adoumadji/Bureau/Brief/B2/data.csv')

In [6]:
df.head()

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [7]:
df.shape

(58, 11)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        58 non-null     int64
 1   index             58 non-null     int64
 2   company           58 non-null     object
 3   body-style        58 non-null     object
 4   wheel-base        58 non-null     float64
 5   length            58 non-null     float64
 6   engine-type       58 non-null     object
 7   num-of-cylinders  58 non-null     object
 8   horsepower        58 non-null     int64
 9   average-mileage   58 non-null     int64
 10  price             58 non-null     float64
dtypes: float64(3), int64(4), object(4)
memory usage: 5.1+ KB

In [9]:
df.describe()

,Unnamed: 0,index,wheel-base,length,horsepower,average-mileage,price
count,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000,58.000000
mean,28.500000,40.827586,98.620690,173.646552,106.051724,25.534483,15387.000000
std,16.886879,25.865467,6.810589,14.005616,48.915402,7.932203,11320.259841
min,0.000000,0.000000,88.400000,141.100000,48.000000,13.000000,5151.000000
25%,14.250000,17.250000,94.500000,165.300000,68.000000,19.000000,6808.500000
50%,28.500000,41.000000,96.400000,171.450000,100.000000,24.500000,11095.000000
75%,42.750000,60.000000,101.800000,182.775000,122.500000,31.000000,18120.500000
max,57.000000,88.000000,120.900000,208.100000,262.000000,47.000000,45400.000000

In [10]:
#Nétoyage des données

In [11]:
#Recherche des doublons
df.duplicated().sum()

0

In [12]:
#Decouverte des données manquantes
df.isnull().sum()

Unnamed: 0          0
index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               0
dtype: int64

In [13]:
df.columns

Index(['Unnamed: 0', 'index', 'company', 'body-style', 'wheel-base', 'length',
       'engine-type', 'num-of-cylinders', 'horsepower', 'average-mileage',
       'price'],
      dtype='object')

In [14]:
df.head()

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [15]:
df.columns

Index(['Unnamed: 0', 'index', 'company', 'body-style', 'wheel-base', 'length',
       'engine-type', 'num-of-cylinders', 'horsepower', 'average-mileage',
       'price'],
      dtype='object')

In [16]:
deleted_columns=['Unnamed: 0','index']

In [17]:
df.drop(deleted_columns,axis=1, inplace=True)

In [18]:
#Analyse exploratd

# selection de données

In [30]:
df[['body-style', 'wheel-base', 'length', 'engine-type','num-of-cylinders', 'horsepower','average-mileage','price' ]]

,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,wagon,105.8,192.7,ohc,five,110,19,18920.0
7,sedan,101.2,176.8,ohc,four,101,23,16430.0
8,sedan,101.2,176.8,ohc,four,101,23,16925.0
9,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,sedan,110.0,197.0,ohc,six,182,15,36880.0
13,hatchback,88.4,141.1,l,three,48,47,5151.0
14,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,sedan,94.5,158.8,ohc,four,70,38,6575.0
16,hatchback,93.7,157.3,ohc,four,68,31,6377.0
17,hatchback,93.7,157.3,ohc,four,68,31,6229.0
18,wagon,96.5,157.1,ohc,four,76,30,7295.0
19,sedan,96.5,175.4,ohc,four,101,24,12945.0
20,sedan,96.5,169.1,ohc,four,100,25,10345.0
21,sedan,94.3,170.7,ohc,four,78,24,6785.0
22,sedan,113.0,199.6,dohc,six,176,15,32250.0
23,sedan,113.0,199.6,dohc,six,176,15,35550.0
24,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
25,hatchback,93.1,159.1,ohc,four,68,30,5195.0
26,hatchback,93.1,159.1,ohc,four,68,31,6095.0
27,hatchback,93.1,159.1,ohc,four,68,31,6795.0
28,hatchback,95.3,169.0,rotor,two,101,17,11845.0
29,sedan,104.9,175.0,ohc,four,72,31,18344.0
30,sedan,110.0,190.9,ohc,five,123,22,25552.0
31,wagon,110.0,190.9,ohc,five,123,22,28248.0
32,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
33,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0
34,hatchback,93.7,157.3,ohc,four,68,37,5389.0
35,hatchback,93.7,157.3,ohc,four,68,31,6189.0
36,sedan,96.3,172.4,ohc,four,88,25,6989.0
37,sedan,96.3,172.4,ohc,four,88,25,8189.0
38,sedan,94.5,165.3,ohc,four,55,45,7099.0
39,sedan,94.5,165.3,ohc,four,69,31,6649.0
40,sedan,94.5,165.3,ohc,four,69,31,6849.0
41,wagon,94.5,170.2,ohc,four,69,31,7349.0
42,sedan,100.4,184.6,ohcv,six,152,19,13499.0
43,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
44,convertible,89.5,168.9,ohcf,six,207,17,37028.0
45,hatchback,95.7,158.7,ohc,four,62,35,5348.0
46,hatchback,95.7,158.7,ohc,four,62,31,6338.0
47,hatchback,95.7,158.7,ohc,four,62,31,6488.0
48,wagon,95.7,169.7,ohc,four,62,31,6918.0
49,wagon,95.7,169.7,ohc,four,62,27,7898.0
50,wagon,95.7,169.7,ohc,four,62,27,8778.0
51,wagon,104.5,187.8,dohc,six,156,19,15750.0
52,sedan,97.3,171.7,ohc,four,52,37,7775.0
53,sedan,97.3,171.7,ohc,four,85,27,7975.0
54,sedan,97.3,171.7,ohc,four,52,37,7995.0
55,sedan,97.3,171.7,ohc,four,100,26,9995.0
56,sedan,104.3,188.8,ohc,four,114,23,12940.0
57,wagon,104.3,188.8,ohc,four,114,23,13415.0